<div class="main-heading">
  <h2>Hello, {{ user?.name || ''}}</h2>
  <div toolbar>
    <!-- buttons -->
    <clr-dg-action-bar>
      <clr-button-group [clrMenuPosition]="'bottom-right'" class="btn-sm">
        <!-- add -->
        <clr-button type="button" class="btn btn-sm btn-secondary" (click)="add()">
          <clr-icon shape="plus" class="action-button"></clr-icon>Add working hours</clr-button>
      </clr-button-group>
    </clr-dg-action-bar>
  </div>
</div>

<!-- Datagrid -->
<clr-datagrid class="main-datagrid" [clrDgLoading]="loading">
  <!-- columns -->
  <clr-dg-column [clrDgField]="'projectName'" class="no-filter">Project name</clr-dg-column>
  <clr-dg-column [clrDgField]="'logh'" class="no-filter">Working hours</clr-dg-column>
  <clr-dg-column [clrDgField]="'date'" class="no-filter">Date</clr-dg-column>

  <clr-dg-placeholder>
    <div class="placeholder" *ngIf="!loading">No working hours added</div>
  </clr-dg-placeholder>

  <!-- rows -->
  <clr-dg-row *clrDgItems="let item of user?.workingh" [clrDgItem]="item">
    <clr-dg-cell>{{ item.projectName }}</clr-dg-cell>
    <clr-dg-cell>{{ item.logh }}</clr-dg-cell>
    <clr-dg-cell>{{ item.date }}</clr-dg-cell>
  </clr-dg-row>

  <!-- pagination -->
  <clr-dg-footer>
     <span>{{ user?.loghours?.length || 0 }} results</span>
  </clr-dg-footer>
</clr-datagrid>

<app-log-hours></app-log-hours>
