<div class="main-heading">
  <h2>Hello, {{ user?.name || ''}}</h2>
  <div toolbar>
    <!-- buttons -->
    <clr-dg-action-bar>
      <clr-button-group [clrMenuPosition]="'bottom-right'" class="btn-sm">
        <!-- add -->
        <clr-button type="button" class="btn btn-sm btn-secondary" (click)="add()">
          <clr-icon shape="plus" class="action-button"></clr-icon>Add working hours</clr-button>
      </clr-button-group>
    </clr-dg-action-bar>
  </div>
</div>

<!-- Datagrid -->
<clr-datagrid class="main-datagrid" [clrDgLoading]="loading">
  <!-- columns -->
  <clr-dg-column [clrDgField]="'project'">Project</clr-dg-column>
  <clr-dg-column [clrDgField]="'url'">Work</clr-dg-column>

  <clr-dg-placeholder>
    <div class="placeholder" *ngIf="!loading">No repositories added</div>
  </clr-dg-placeholder>

  <!-- rows -->
  <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
    <clr-dg-cell>{{ item.name }}</clr-dg-cell>
    <clr-dg-cell>{{ item.url }}</clr-dg-cell>
  </clr-dg-row>

  <!-- pagination -->
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Repositories per page</clr-dg-page-size>
      <span *ngIf="pagination?.totalItems > 0">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}}
      </span>
      <span *ngIf="pagination?.totalItems === 0">0 of 0</span>
      repositories
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
