<clr-modal *ngIf="isOpen" [(clrModalOpen)]="isOpen"
           [clrModalSize]="'md'" [clrModalStaticBackdrop]="false">

  <!-- Title -->
  <h3 class="modal-title">Add Working Hours</h3>

  <!-- Form -->
  <div class="modal-body">

    <form class="login" clrForm [formGroup]="addHoursForm">
      <div class="login-group">

      <!-- project -->
      <clr-input-container>
        <label class="clr-sr-only">Project name</label>
        <input class="full-width" type="text" name="projectName" placeholder="Project name" clrInput formControlName="projectName"/>
        <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
      </clr-input-container>

      <!-- hours -->
      <clr-input-container>
        <label class="clr-sr-only">Worked hours</label>
        <input class="full-width" type="text" name="hours" placeholder="Worked hours" clrInput formControlName="hours"/>
        <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
      </clr-input-container>

      <!-- date -->
      <clr-date-container>
        <label class="clr-sr-only">Date</label>
        <input class="full-width" type="date" clrDate name="demo" formControlName="date">
      </clr-date-container>
      </div>
    </form>
  </div>

  <!-- Buttons -->
  <div class="modal-footer">
    <button (click)="onCancel()" class="btn btn-default">Cancel</button>
    <button (click)="onAdd()" class="btn btn-primary" [clrLoading]="addButtonState">Add</button>
  </div>
</clr-modal>
